@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../font/proxima/ProximaNova-Light.eot");
  src: url("../font/proxima/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../font/proxima/ProximaNova-Light.woff") format("woff"), url("../font/proxima/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../font/proxima/ProximaNova-Regular.eot");
  src: url("../font/proxima/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../font/proxima/ProximaNova-Regular.woff") format("woff"), url("../font/proxima/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../font/proxima/ProximaNova-Bold.eot");
  src: url("../font/proxima/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../font/proxima/ProximaNova-Bold.woff") format("woff"), url("../font/proxima/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  font-family: 'Proxima Nova Regular', sans-serif;
  background: #fff;
  color: #87726d;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content-page {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 780px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

a {
  text-decoration: none;
}

input[type=button],
button {
  cursor: pointer;
  outline: none;
}

input[type=text] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.row__aic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.col__aic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 1100px) {
  .lg-hide {
    display: none;
  }
}

.md-show {
  display: none;
}

@media screen and (max-width: 960px) {
  .md-show {
    display: block;
  }
}

@media screen and (max-width: 960px) {
  .md-hide {
    display: none !important;
  }
}

@media screen and (max-width: 780px) {
  .sm-hide {
    display: none;
  }
}

.title-page {
  font-size: 28px;
  color: #482e47;
  margin-bottom: 50px;
  position: relative;
}

.title-page:before {
  content: '';
  position: absolute;
  width: 85px;
  height: 5px;
  background: #d51814;
  bottom: -20px;
  left: 0;
}

.way-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

.way-steps a {
  color: #5957bc;
  font-size: 18px;
}

.way-steps img {
  padding: 0 5px;
}

#header {
  padding-top: 25px;
}

@media screen and (max-width: 560px) {
  #header {
    padding-top: 0;
  }
}

#header .logo img {
  width: 100%;
  max-width: 213px;
  height: auto;
}

@media screen and (max-width: 560px) {
  #header .logo img {
    width: 80%;
  }
}

#header .location {
  max-width: 310px;
}

#header .location p {
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
}

#header .mobile-menu-toggle {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 200;
}

#header .mobile-menu-toggle .ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  -o-transition: transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#header .mobile-menu-toggle .hamRotate.active {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#header .mobile-menu-toggle .hamRotate180.active {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

#header .mobile-menu-toggle .line {
  fill: none;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  -o-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 8;
  stroke-linecap: round;
}

#header .mobile-menu-toggle .ham-burger .top {
  stroke-dasharray: 40 160;
}

#header .mobile-menu-toggle .ham-burger .middle {
  stroke-dasharray: 40 142;
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  -o-transition: transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

#header .mobile-menu-toggle .ham-burger .bottom {
  stroke-dasharray: 40 85;
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition: stroke-dashoffset 400ms, -webkit-transform 400ms;
  transition: stroke-dashoffset 400ms, -webkit-transform 400ms;
  -o-transition: transform 400ms, stroke-dashoffset 400ms;
  transition: transform 400ms, stroke-dashoffset 400ms;
  transition: transform 400ms, stroke-dashoffset 400ms, -webkit-transform 400ms;
}

#header .mobile-menu-toggle .ham-burger.active .top {
  stroke-dashoffset: -64px;
}

#header .mobile-menu-toggle .ham-burger.active .middle {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

#header .mobile-menu-toggle .ham-burger.active .bottom {
  stroke-dashoffset: -64px;
}

#header .contacts {
  color: #5957bc;
}

#header .contacts .tel {
  font-size: 23px;
}

#header .contacts .mail {
  margin-top: 15px;
  font-size: 16px;
}

#header .block-navigation {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 960px) {
  #header .block-navigation {
    display: none;
  }
}

@media screen and (max-width: 780px) {
  #header .block-navigation {
    padding: 20px;
    background: #f0f0f0;
    border-radius: 16px;
  }
}

#header .block-navigation nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 780px) {
  #header .block-navigation nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

#header .block-navigation nav ul li {
  margin-right: 65px;
}

@media screen and (max-width: 1100px) {
  #header .block-navigation nav ul li {
    margin-right: 15px;
  }
}

@media screen and (max-width: 780px) {
  #header .block-navigation nav ul li {
    margin-top: 20px;
    margin-right: 0;
  }
}

#header .block-navigation nav ul li a {
  font-size: 18px;
  color: #000;
}

#header .block-navigation .download-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 960px) {
  #header .block-navigation .download-price {
    margin-top: 10px;
  }
}

#header .block-navigation .download-price span {
  padding: 5px 15px;
  background: #000;
  border-radius: 4px 0 0 4px;
}

#header .block-navigation .download-price p {
  text-transform: uppercase;
  background: #ea5e47;
  color: #fff;
  padding: 25px 5px;
  border-radius: 0 4px 4px 0;
  -webkit-box-shadow: 10px 10px 5px 0 #f7eff7;
  box-shadow: 10px 10px 5px 0 #f7eff7;
}

@media screen and (max-width: 560px) {
  #header .block-navigation .download-price p {
    font-size: 14px;
  }
}

#banner {
  margin-top: 60px;
}

@media screen and (max-width: 560px) {
  #banner {
    margin-top: 20px;
  }
}

#banner .slider .slide {
  position: relative;
}

#banner .slider .slide img {
  width: 100%;
}

#banner .slider .slide .description {
  position: absolute;
  bottom: 5px;
  left: 100px;
  width: 100%;
}

@media screen and (max-width: 780px) {
  #banner .slider .slide .description {
    left: 50px;
  }
}

@media screen and (max-width: 560px) {
  #banner .slider .slide .description {
    left: calc((100% - 249px) / 2);
  }
}

#banner .slider .slide .description .top {
  display: inline-block;
  padding: 10px;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  background: #d51814;
  max-width: 340px;
}

@media screen and (max-width: 780px) {
  #banner .slider .slide .description .top {
    font-size: 16px;
  }
}

#banner .slider .slide .description ul {
  background: rgba(89, 87, 188, 0.6);
  padding: 10px 20px;
  max-width: 430px;
  width: 100%;
}

@media screen and (max-width: 780px) {
  #banner .slider .slide .description ul {
    max-width: 320px;
  }
}

@media screen and (max-width: 560px) {
  #banner .slider .slide .description ul {
    display: none;
  }
}

#banner .slider .slide .description ul li {
  color: #fff;
  margin: 4px 0;
  font-size: 14px;
  position: relative;
}

@media screen and (max-width: 780px) {
  #banner .slider .slide .description ul li {
    font-size: 12px;
  }
}

#banner .slider .slide .description ul li:before {
  content: '';
  width: 5px;
  height: 5px;
  position: absolute;
  left: -12px;
  top: 5px;
  background: #fff;
  border-radius: 50%;
}

#banner .slider .slick-arrow {
  position: absolute;
  outline: none;
  font-size: 0;
  height: 70px;
  width: 70px;
  border: none;
  top: calc((100% - 35px) / 2);
  z-index: 2;
  opacity: .3;
}

#banner .slider .slick-arrow:hover {
  opacity: 1;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

@media screen and (max-width: 780px) {
  #banner .slider .slick-arrow {
    width: 30px;
    height: 30px;
  }
}

#banner .slider .slick-arrow.slick-prev {
  background: url("../images/icons/arrow.svg") no-repeat;
  left: 1%;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

#banner .slider .slick-arrow.slick-next {
  background: url("../images/icons/arrow.svg") no-repeat;
  right: 1%;
}

#metal-processing {
  margin-top: 55px;
}

@media screen and (max-width: 780px) {
  #metal-processing {
    margin-top: 15px;
  }
}

#metal-processing .title {
  color: #000;
  font-size: 46px;
  text-align: center;
  font-weight: 800;
}

@media screen and (max-width: 780px) {
  #metal-processing .title {
    font-size: 28px;
  }
}

#metal-processing .blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (max-width: 780px) {
  #metal-processing .blocks {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

#metal-processing .blocks .one-process {
  -ms-flex-preferred-size: 23%;
  flex-basis: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 80px;
  min-width: 280px;
}

@media screen and (max-width: 780px) {
  #metal-processing .blocks .one-process {
    margin-top: 25px;
  }
}

#metal-processing .blocks .one-process .block-img {
  height: 160px;
}

#metal-processing .blocks .one-process .block-img img {
  width: 100%;
  height: auto;
}

#metal-processing .blocks .one-process a {
  margin-top: 35px;
  font-size: 18px;
  color: #d51814;
  border-bottom: 2px solid #d51814;
  padding-bottom: 3px;
  text-transform: uppercase;
  font-weight: 600;
}

#metal-processing .blocks .one-process p {
  color: #000;
  margin-top: 50px;
  font-size: 16px;
}

#metal-processing .blocks .one-process p .price {
  font-weight: 600;
  font-size: 20px;
}

#advantage {
  margin-top: 85px;
}

#advantage .title {
  color: #000;
  font-family: 'Proxima Nova Light', sans-serif;
  font-size: 46px;
  text-align: center;
  font-weight: 200;
}

@media screen and (max-width: 780px) {
  #advantage .title {
    font-size: 28px;
  }
}

#advantage .blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (max-width: 560px) {
  #advantage .blocks {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

#advantage .blocks .one-advantage {
  -ms-flex-preferred-size: 32%;
  flex-basis: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 95px;
  min-width: 310px;
}

@media screen and (max-width: 560px) {
  #advantage .blocks .one-advantage {
    margin-top: 30px;
  }
}

#advantage .blocks .one-advantage p {
  padding-left: 15px;
  font-size: 21px;
}

@media screen and (max-width: 560px) {
  #advantage .blocks .one-advantage p {
    font-size: 16px;
    padding-top: 15px;
  }
}

@media screen and (max-width: 560px) {
  #advantage .blocks .one-advantage img {
    max-width: 65px;
    height: auto;
  }
}

#advantage .title-laser {
  margin-top: 100px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  font-size: 56px;
  color: #8a898f;
}

@media screen and (max-width: 780px) {
  #advantage .title-laser {
    font-size: 36px;
  }
}

@media screen and (max-width: 560px) {
  #advantage .title-laser {
    font-size: 28px;
    margin-top: 40px;
  }
}

#advantage .advantages-list {
  margin-top: 55px;
}

#advantage .advantages-list ul {
  padding-left: 40px;
}

#advantage .advantages-list ul li {
  margin-top: 25px;
  font-size: 18px;
  color: #000;
  max-width: 860px;
  position: relative;
}

#advantage .advantages-list ul li:before {
  content: '';
  width: 5px;
  height: 5px;
  background: #c4213c;
  position: absolute;
  left: -18px;
  top: 7px;
  border-radius: 50%;
}

#advantage .advantages-list ul li span {
  font-weight: 600;
}

#documents {
  margin-top: 90px;
}

#documents .requirements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 780px) {
  #documents .requirements {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

#documents .requirements .one {
  -ms-flex-preferred-size: 48%;
  flex-basis: 48%;
  border: 1px solid #dedede;
  border-top: none;
  border-radius: 4px 4px 0 0;
}

#documents .requirements .one .cap {
  background: #f5f5f5;
  padding: 20px;
  border-bottom: 1px solid #dedede;
  font-family: 'Proxima Nova Bold', sans-serif;
  color: #8a898f;
}

#documents .requirements .one .inf {
  padding: 30px 20px 15px;
}

#documents .requirements .one .inf p {
  font-size: 16px;
  line-height: 24px;
}

@media screen and (max-width: 560px) {
  #documents .requirements .one .inf p {
    font-size: 14px;
  }
}

#documents .requirements .one .inf ul {
  padding: 24px 20px 24px 50px;
}

#documents .requirements .one .inf ul li {
  position: relative;
}

#documents .requirements .one .inf ul li:before {
  content: '';
  width: 5px;
  height: 5px;
  background: #4750af;
  position: absolute;
  left: -16px;
  top: 9px;
  border-radius: 50%;
}

#documents .btn-download-doc {
  margin: 55px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  background: none;
}

@media screen and (max-width: 560px) {
  #documents .btn-download-doc {
    margin-top: 20px;
  }
}

#documents .btn-download-doc img {
  width: 100%;
  height: auto;
}

#documents .request {
  margin-top: 60px;
}

#documents .request .title {
  font-family: 'Proxima Nova Bold', sans-serif;
  color: #65b3e3;
  font-size: 28px;
  text-align: center;
}

#documents .request .form .styles-input,
#documents .request .form .styles-textarea {
  width: 100%;
  margin-top: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 13px;
  background: none;
  border-radius: 8px;
  border: 1px solid #87726d;
  height: 52px;
  -webkit-box-shadow: -2px 3px 31px -15px #8a898f;
  box-shadow: -2px 3px 31px -15px #8a898f;
  font-size: 16px;
}

#documents .request .form .styles-textarea {
  padding-top: 10px;
  font-family: 'Proxima Nova Regular', sans-serif;
  height: 125px;
}

#documents .request .form p {
  margin-top: 30px;
}

#documents .request .form .attach {
  padding: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #87726d;
  border-radius: 8px;
  margin-top: 3px;
  -webkit-box-shadow: -2px 3px 31px -15px #8a898f;
  box-shadow: -2px 3px 31px -15px #8a898f;
}

#documents .request .form .attach input {
  width: 120px;
  height: 40px;
  color: #000;
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid #87726d;
}

#documents .request .form .attach span {
  padding-left: 6px;
}

#documents .request .form .send {
  margin-top: 25px;
  border-radius: 8px;
  background: #dddddd;
  text-transform: uppercase;
  color: #482e47;
  font-size: 18px;
  width: 100%;
  height: 52px;
  border: none;
}

#footer {
  margin-top: 60px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

#footer .map {
  width: 100%;
  height: auto;
  max-height: 200px;
}

#footer .map img {
  width: 100%;
  height: auto;
}

#footer .content {
  background: #132146;
  padding: 30px 0;
}

#footer .content p {
  color: #fff;
  line-height: 20px;
  font-size: 14px;
}

#footer .content .title {
  font-size: 24px;
  font-family: 'Proxima Nova Bold', sans-serif;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
}

#footer .content .mail {
  color: #5957bc;
  border-bottom: 1px solid #5957bc;
}

#footer .content .call {
  margin-top: 20px;
}

#footer .content .call .get-call {
  padding: 10px 15px;
  background: #d51814;
  color: #fff;
  text-decoration: underline;
}

#footer .content .navigation {
  background: rgba(89, 87, 188, 0.6);
  padding: 13px 16px 13px 13px;
}

#footer .content .navigation ul li {
  margin-top: 15px;
}

#footer .content .navigation ul li:first-child {
  margin-top: 0;
}

#footer .content .navigation ul li a {
  color: #fff;
  font-size: 14px;
}

#footer .content .logo-footer img {
  width: 100%;
  height: auto;
}

#footer .content .widgets {
  margin-top: 13px;
}

#footer .content .widgets img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 780px) {
  #footer .content .align {
    margin: 0 auto;
  }
}

#contacts .title {
  padding-bottom: 40px;
  border-bottom: 2px solid #4e57b2;
  font-size: 42px;
  color: #000;
}

@media screen and (max-width: 780px) {
  #contacts .title {
    padding-bottom: 30px;
    font-size: 34px;
  }
}

@media screen and (max-width: 560px) {
  #contacts .title {
    font-size: 24px;
  }
}

#contacts p {
  font-size: 18px;
  color: #51333d;
}

#contacts p span {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 18px;
}

#contacts a {
  color: #5957bc;
}

#contacts .subtitle {
  font-size: 14px;
  color: #000;
  padding-bottom: 7px;
}

#contacts .description {
  margin-top: 50px;
}

#contacts .description .address ul li {
  margin-top: 7px;
}

#contacts .description .time {
  margin-top: 10px;
}

#contacts .description .time p {
  margin-top: 8px;
}

#contacts .description .department ul li {
  margin-top: 15px;
}

#contacts .description .department ul li .mail {
  font-family: 'Proxima Nova Bold', sans-serif;
}

#contacts .description .requisites {
  margin-top: 10px;
}

#contacts .description .requisites ul li {
  margin-top: 10px;
}

#contacts .description .way {
  margin-top: 15px;
}

#contacts .description .way p {
  font-size: 14px;
  margin-top: 10px;
}

#contacts .description .way p span {
  font-size: 16px;
}

#contacts .description .scheme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

@media screen and (max-width: 780px) {
  #contacts .description .scheme {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

#contacts .description .scheme .detail {
  background: #eaeceb;
  -ms-flex-preferred-size: 34%;
  flex-basis: 34%;
  width: 100%;
  height: auto;
  padding-bottom: 30px;
}

#contacts .description .scheme .detail .title-detail {
  padding: 30px 0;
  text-align: center;
  font-family: 'Proxima Nova Bold',sans-serif;
  color: #000;
  text-transform: uppercase;
  font-size: 22px;
  border-bottom: 10px solid transparent;
  -o-border-image: -o-linear-gradient(45deg, #188ac8 30%, #eaeceb 60%);
  border-image: linear-gradient(45deg, #188ac8 30%, #eaeceb 60%);
  border-image-slice: 1;
}

#contacts .description .scheme .detail .logo {
  margin: 30px;
  max-width: 341px;
}

#contacts .description .scheme .detail .logo img {
  width: 100%;
  height: auto;
}

#contacts .description .scheme .detail .information p {
  color: #000;
  margin-top: 4px;
  font-size: 20px;
}

@media screen and (max-width: 960px) {
  #contacts .description .scheme .detail .information p {
    font-size: 14px;
  }
}

#contacts .description .scheme .detail .information p.white {
  color: #fff;
  font-family: 'Proxima Nova Bold' ,sans-serif;
}

#contacts .description .scheme .detail .information .coordinates {
  padding: 15px 30px;
  background: #188ac8;
  margin-right: 25px;
}

#contacts .description .scheme .detail .information .schedule {
  margin-top: 15px;
  padding: 0 60px 0 30px;
}

#contacts .description .scheme .detail .information .schedule .offset {
  margin-top: 15px;
}

#contacts .description .scheme .detail .information .schedule .offset-small {
  margin-top: 8px;
}

#contacts .description .scheme .map {
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
}

@media screen and (max-width: 1100px) {
  #contacts .description .scheme .map {
    -ms-flex-preferred-size: 66%;
    flex-basis: 66%;
  }
}

#contacts .description .scheme .map img {
  width: 100%;
  height: auto;
}

#products {
  margin-top: 20px;
}

#products p {
  line-height: 24px;
}

#products .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (max-width: 960px) {
  #products .items {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

#products .items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 225px;
  min-width: 200px;
  margin-top: 30px;
  -ms-flex-preferred-size: 17%;
  flex-basis: 17%;
  padding: 10px;
  border: 1px solid #8a898f;
}

#products .items .item .block-image {
  margin-top: 30px;
  height: 180px;
}

#products .items .item .block-image img {
  width: 100%;
  height: auto;
}

#products .items .item .name {
  margin-top: 15px;
  color: #000;
  font-size: 16px;
}

#products .items .item p {
  margin-top: 30px;
  font-size: 12px;
}

#products .items .item .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#products .items .item .tags a:first-child {
  margin-left: 0;
}

#products .items .item .tags a {
  margin-left: 5px;
  font-size: 12px;
}

#portfolio {
  margin-top: 20px;
}

#portfolio .title {
  color: #000;
  font-size: 18px;
}

#portfolio .works {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (max-width: 560px) {
  #portfolio .works {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

#portfolio .works .work {
  margin-top: 20px;
  position: relative;
  background: #e9ecf3;
  padding: 0 40px;
  -ms-flex-preferred-size: 24%;
  flex-basis: 24%;
  min-width: 270px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#portfolio .works .work img {
  width: 100%;
  height: auto;
}

#portfolio .works .work .description {
  background: #f8110b;
  padding: 10px 15px;
  font-family: 'Proxima Nova Bold', sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  position: absolute;
  left: 40px;
  bottom: 0;
}

@media screen and (max-width: 780px) {
  #portfolio .works .work .description {
    padding: 5px;
  }
}

#price {
  margin-top: 30px;
}

#price p {
  margin-top: 15px;
  font-size: 18px;
}

#price .items {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (max-width: 780px) {
  #price .items {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

#price .items .item {
  margin-top: 20px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #e9ecf3;
  -ms-flex-preferred-size: 29%;
  flex-basis: 29%;
  position: relative;
  min-width: 300px;
}

#price .items .item img {
  width: 100%;
  height: auto;
}

#price .items .item .description {
  background: #f8110b;
  font-family: 'Proxima Nova Bold', sans-serif;
  padding: 10px 15px;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  position: absolute;
  left: 20px;
  bottom: 0;
}

@media screen and (max-width: 780px) {
  #price .items .item .description {
    padding: 5px;
  }
}

#services {
  margin-top: 25px;
}

#services .title {
  font-size: 36px;
  color: #000;
  font-family: 'Proxima Nova Light',sans-serif;
}

@media screen and (max-width: 560px) {
  #services .title {
    font-size: 30px;
  }
}

#services p {
  margin-top: 15px;
  font-size: 18px;
}

@media screen and (max-width: 560px) {
  #services p {
    font-size: 16px;
  }
}

#services .types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (max-width: 780px) {
  #services .types {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

#services .types .one-type {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
  min-width: 240px;
}

#services .types .one-type > img {
  width: 100%;
  height: auto;
}

#services .types .one-type .name {
  margin-top: 20px;
  color: #188ac8;
  font-size: 22px;
  text-align: center;
}

#services .types .one-type .description {
  margin-top: 10px;
  font-size: 16px;
  color: #482e47;
  text-align: center;
  line-height: 18px;
}

#services .types .one-type .btn-more {
  margin-top: 25px;
  width: 140px;
  height: 48px;
  background: none;
  border: 1px solid #dedede;
  color: #188ac8;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

#subsection-services {
  margin-top: 25px;
}

#subsection-services .title {
  text-transform: uppercase;
  font-size: 28px;
  color: #000;
  font-family: 'Proxima Nova Bold', sans-serif;
  text-align: center;
  display: table;
  margin: 0 auto;
  position: relative;
}

#subsection-services .title:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 5px;
  background: #ae2b30;
  left: -35px;
  top: 9px;
}

@media screen and (max-width: 560px) {
  #subsection-services .title:before {
    display: none;
  }
}

#subsection-services .title:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 5px;
  background: #ae2b30;
  right: -35px;
  top: 9px;
}

@media screen and (max-width: 560px) {
  #subsection-services .title:after {
    display: none;
  }
}

#subsection-services .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 15px;
  padding-top: 20px;
  border-top: 1px solid #dedede;
}

@media screen and (max-width: 960px) {
  #subsection-services .information {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

#subsection-services .information .block-information {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

#subsection-services .information .block-information .price {
  padding: 15px 0;
}

#subsection-services .information .block-information .price > .row__aic {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

#subsection-services .information .block-information .price .price-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 18px;
  color: #482e47;
}

#subsection-services .information .block-information .price .price-text img {
  padding-right: 15px;
}

#subsection-services .information .block-information .price .btn-order {
  width: 160px;
  height: 40px;
  border-radius: 4px;
  background: #ae2b30;
  font-family: 'Proxima Nova Bold', sans-serif;
  text-transform: uppercase;
  color: #fff;
  margin-left: 25px;
  border: none;
}

@media screen and (max-width: 560px) {
  #subsection-services .information .block-information .price .btn-order {
    margin-left: 10px;
  }
}

#subsection-services .information .block-information .download-price {
  padding: 25px 0;
  border-top: 1px solid #dedede;
}

#subsection-services .information .block-information .download-price > .row {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

#subsection-services .information .block-information .download-price .download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  max-width: 260px;
}

#subsection-services .information .block-information .download-price .download img {
  padding-right: 10px;
}

#subsection-services .information .block-information .download-price .download a {
  color: #ae2b30;
  font-size: 16px;
  text-decoration: underline;
}

#subsection-services .information .block-information .description {
  padding: 15px 0;
  border-top: 1px solid #dedede;
}

#subsection-services .information .block-information .description ul li {
  padding-left: 30px;
  line-height: 20px;
  font-size: 16px;
  color: #482e47;
  position: relative;
  margin-top: 15px;
  padding-right: 15px;
}

#subsection-services .information .block-information .description ul li:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 4px;
  background: #ae2b30;
  left: 0;
  top: 8px;
}

#subsection-services .information .video {
  margin-left: 30px;
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  max-width: 40%;
}

@media screen and (max-width: 960px) {
  #subsection-services .information .video {
    max-width: 100%;
    margin-top: 15px;
    margin-left: 0;
    width: 100%;
  }
}

#subsection-services .information .video .slider-video {
  width: 100%;
}

#subsection-services .information .video .slider-video .slide {
  max-width: 470px;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  #subsection-services .information .video .slider-video .slide {
    display: table !important;
    margin: 0 auto;
  }
}

#subsection-services .information .video .slider-video .slide iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#subsection-services .information .video .slider-video .slick-arrow {
  position: absolute;
  outline: none;
  font-size: 0;
  height: 29px;
  width: 40px;
  border: none;
  bottom: -60px;
  z-index: 2;
}

#subsection-services .information .video .slider-video .slick-arrow.slick-prev {
  background: url("../images/icons/arrow-prev.png") no-repeat;
  left: 20%;
}

#subsection-services .information .video .slider-video .slick-arrow.slick-next {
  background: url("../images/icons/arrow-next.png") no-repeat;
  right: 20%;
}

#subsection-services .information .video .count {
  display: table;
  margin: 35px auto 0;
  font-size: 18px;
  color: #482e47;
}

#subsection-services .price-list {
  margin-top: 40px;
}

#subsection-services .price-list .subtitle {
  font-family: 'Proxima Nova Bold', sans-serif;
  text-transform: uppercase;
  display: inline-block;
  color: #000;
  font-size: 32px;
  padding: 5px;
  background: #f2f3f8;
}

@media screen and (max-width: 780px) {
  #subsection-services .price-list .subtitle {
    font-size: 22px;
  }
}

#subsection-services .price-list .list {
  background: #f2f3f8;
  margin-top: 30px;
  padding: 10px;
  white-space: nowrap;
  position: relative;
}

@media screen and (max-width: 960px) {
  #subsection-services .price-list .list {
    overflow-x: scroll;
  }
}

#subsection-services .price-list .list .download-price {
  width: calc(100% - 20px);
  position: absolute;
  text-align: center;
  background: #e6e4ef;
  margin-left: 10px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  bottom: 10px;
  color: #ae2b30;
  text-decoration: underline;
  z-index: 2;
  min-width: 767px;
}

#subsection-services .price-list .list > .row > * {
  text-align: center;
}

#subsection-services .price-list .list > .row .col {
  -ms-flex-preferred-size: 12%;
  flex-basis: 12%;
  border: 2px solid #e6e4ef;
  border-top: none;
  border-bottom: none;
}

#subsection-services .price-list .list > .row .col .block-top {
  background: #fff;
}

#subsection-services .price-list .list > .row .col .block:nth-child(odd) {
  background: #e6e4ef;
}

#subsection-services .price-list .list > .row .col .block:nth-child(even) {
  background: #f1f0f5;
}

#subsection-services .price-list .list > .row .col.bigger {
  -ms-flex-preferred-size: 16%;
  flex-basis: 16%;
}

#subsection-services .price-list .list .block-top {
  font-size: 14px;
  font-family: 'Proxima Nova Bold',sans-serif;
  color: #000;
  height: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#subsection-services .price-list .list .block {
  color: #482e47;
  font-size: 14px;
  height: 34px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 3;
}

#subsection-services .price-list .list .block,
#subsection-services .price-list .list .block-top {
  padding: 10px 3px;
}

#subsection-services .price-list .list .block .drafted,
#subsection-services .price-list .list .block-top .drafted {
  text-decoration: line-through;
}

#subsection-price .navigation-page ul {
  padding-left: 30px;
}

#subsection-price .navigation-page ul li {
  margin-top: 7px;
  position: relative;
}

#subsection-price .navigation-page ul li:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background: #87726d;
  top: 4px;
  left: -15px;
  border-radius: 50%;
}

#subsection-price .navigation-page ul li a {
  color: #188ac8;
  border-bottom: 1px solid #188ac8;
}

#subsection-price p {
  margin-top: 15px;
  font-size: 18px;
  line-height: 24px;
}

#subsection-price p .telephone {
  color: #4750af;
  font-size: 24px;
  font-family: 'Proxima Nova Bold',sans-serif;
}

#subsection-price p a {
  color: #4e57b2;
  border-bottom: 1px solid #65b3e3;
}

#subsection-price .block-table {
  margin-top: 35px;
}

#subsection-price .block-table .title-table {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 24px;
}

#subsection-price .block-table .table {
  margin-top: 8px;
  text-align: center;
  white-space: nowrap;
}

@media screen and (max-width: 960px) {
  #subsection-price .block-table .table {
    overflow-x: scroll;
  }
}

#subsection-price .block-table .table .row .col {
  margin: 0 5px;
}

#subsection-price .block-table .table .row .col:nth-child(1) {
  -ms-flex-preferred-size: 10%;
  flex-basis: 10%;
}

#subsection-price .block-table .table .row .col:nth-child(2) {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}

#subsection-price .block-table .table .row .col:nth-child(3) {
  -ms-flex-preferred-size: 11%;
  flex-basis: 11%;
}

#subsection-price .block-table .table .row .col:nth-child(4) {
  -ms-flex-preferred-size: 11%;
  flex-basis: 11%;
}

#subsection-price .block-table .table .row .col:nth-child(5) {
  -ms-flex-preferred-size: 28%;
  flex-basis: 28%;
}

#subsection-price .block-table .table .row .col:nth-child(6) {
  -ms-flex-preferred-size: 16%;
  flex-basis: 16%;
}

#subsection-price .block-table .table .block {
  background: #e9ecf3;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10px;
  font-size: 16px;
  color: #4750af;
}

@media screen and (max-width: 780px) {
  #subsection-price .block-table .table .block {
    font-size: 14px;
    height: 26px;
  }
}

#subsection-price .block-table .table .block-top {
  padding: 0 4px;
  font-size: 14px;
  color: #000;
  background: #c9d4e8;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#subsection-price .subtitle {
  font-size: 24px;
  color: #000;
  margin-top: 20px;
}

/*# sourceMappingURL=maps/style.css.map */
