#documents {
  margin-top: 90px;
  .requirements {
    display: flex;
    justify-content: space-between;
    @include sm-block() {
      flex-direction: column;
      align-items: center;
    }
    .one {
      flex-basis: 48%;
      border: 1px solid $grey-three;
      border-top: none;
      border-radius: 4px 4px 0 0;
      .cap {
        background: $white-two;
        padding: 20px;
        border-bottom: 1px solid $grey-three;
        font-family: 'Proxima Nova Bold', sans-serif;
        color: $grey-two;
      }
      .inf {
        padding: 30px 20px 15px;
        p {
          font-size: 16px;
          line-height: 24px;
          @include xs(font-size, 14px);
        }
        ul {
          padding: 24px 20px 24px 50px;
          li {
            position: relative;
            &:before {
              content: '';
              width: 5px;
              height: 5px;
              background: $blue-two;
              position: absolute;
              left: -16px;
              top: 9px;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
  .btn-download-doc {
    margin: 55px auto 0;
    display: flex;
    border: none;
    background: none;
    @include xs(margin-top, 20px);
    img {
      width: 100%;
      height: auto;
    }
  }
  .request {
    margin-top: 60px;
    .title {
      font-family: 'Proxima Nova Bold', sans-serif;
      color: $blue-three;
      font-size: 28px;
      text-align: center;
    }
    .form {
      .styles-input, .styles-textarea {
        width: 100%;
        margin-top: 30px;
        box-sizing: border-box;
        padding: 0 13px;
        background: none;
        border-radius: 8px;
        border: 1px solid $grey;
        height: 52px;
        box-shadow: -2px 3px 31px -15px rgba(138, 137, 143, 1);
        font-size: 16px;
      }
      .styles-textarea {
        padding-top: 10px;
        font-family: 'Proxima Nova Regular', sans-serif;
        height: 125px;
      }
      p {
        margin-top: 30px;
      }
      #fl_inp {
        display: none;
      }
      #fl_nm {
        margin-left: 10px;
      }
      .fl_upld {
        padding: 13px;
        display: flex;
        align-items: center;
        border: 1px solid $grey;
        border-radius: 8px;
        margin-top: 3px;
        box-shadow: -2px 3px 31px -15px rgba(138, 137, 143, 1);
        label{
          display: flex;
          background: $grey-three;
          justify-content: center;
          align-items: center;
          width: 120px;
          height: 40px;
          color: $black;
          font-size: 18px;
          border-radius: 4px;
          border: 1px solid $grey;
        }
        span {
          padding-left: 6px;
        }
      }
      .send {
        margin-top: 25px;
        border-radius: 8px;
        background: #dddddd;
        text-transform: uppercase;
        color: $dark;
        font-size: 18px;
        width: 100%;
        height: 52px;
        border: none;
      }
    }
  }
}