@font-face {
  font-family: 'Proxima Nova Light';
  src: url('../font/proxima/ProximaNova-Light.eot');
  src: url('../font/proxima/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
  url('../font/proxima/ProximaNova-Light.woff') format('woff'),
  url('../font/proxima/ProximaNova-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('../font/proxima/ProximaNova-Regular.eot');
  src: url('../font/proxima/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('../font/proxima/ProximaNova-Regular.woff') format('woff'),
  url('../font/proxima/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('../font/proxima/ProximaNova-Bold.eot');
  src: url('../font/proxima/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('../font/proxima/ProximaNova-Bold.woff') format('woff'),
  url('../font/proxima/ProximaNova-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}