body {
  font-family: 'Proxima Nova Regular', sans-serif;
  background: #fff;
  color: $grey;
}
.wrapper {
  @include wrapper()
}
a {
  text-decoration: none;
}
input[type=button], button {
  cursor: pointer;
  outline: none;
}
input[type=text] {
  box-sizing: border-box;
}
.row {
  display: flex;
  justify-content: space-between;
  &__aic {
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
}
.col {
  display: flex;
  flex-direction: column;
  &__aic {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.lg-hide {
  @include lg(display, none);
}
.md-show {
  display: none;
  @include md(display, block);
}
.md-hide {
  @include md(display, none !important);
}
.sm-hide {
  @include sm(display, none);
}
.title-page {
  font-size: 28px;
  color: $dark;
  margin-bottom: 50px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 85px;
    height: 5px;
    background: $red-two;
    bottom: -20px;
    left: 0;
  }
}