html {
  height: 100%;
}
body {
  font-family: 'Proxima Nova Regular', sans-serif;
  background: #fff;
  color: $grey;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content-page {
  flex: 1 0 auto;
}
.wrapper {
  @include wrapper();
}
a {
  text-decoration: none;
}
input[type=button], button {
  cursor: pointer;
  outline: none;
}
input[type=text] {
  box-sizing: border-box;
}
.row {
  display: flex;
  justify-content: space-between;
  &__aic {
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
}
.col {
  display: flex;
  flex-direction: column;
  &__aic {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.lg-hide {
  @include lg(display, none);
}
.md-show {
  display: none;
  @include md(display, block);
}
.md-hide {
  @include md(display, none !important);
}
.sm-hide {
  @include sm(display, none);
}
.title-page {
  font-size: 28px;
  color: $dark;
  margin-bottom: 50px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 85px;
    height: 5px;
    background: $red-two;
    bottom: -20px;
    left: 0;
  }
}

.way-steps {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 20px;
  a {
    color: $blue;
    font-size: 18px;
  }
  img {
    padding: 0 5px;
  }
}

//POPUP
.white-popup {
  position: relative;
  background: $white;
  color: $dark;
  border-radius: 8px;
  height: auto;
  padding: 20px;
  max-width: 430px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  .mfp-close {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .cap-popup {
    padding-bottom: 20px;
    font-size: 24px;
    color: $dark;
    margin-right: 50px;
    display: inline-block ;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 30px;
      height: 4px;
      background: $red;
      left: 0;
      bottom: 0;
    }
  }
  .necessarily-left {
    position: relative;
    padding-left: 10px;
    font-size: 14px;
    display: inline-block;
    &:before {
      content: '';
      background: $red;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 6px;
    }
  }
  .row__aic {
    margin-top: 20px;
  }
  .btn-send {
    width: 120px;
    height: 38px;
    background: $blue-three;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: $white;
  }
  .form {
    margin-top: 10px;
    .one-input {
      margin-top: 15px;
      p {
        font-size: 16px;
        line-height: 24px;
        &.necessarily {
          position: relative;
          display: inline-block;
          &:before {
            content: '';
            background: $red;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            position: absolute;
            right: -7px;
            top: 6px;
          }
        }
      }
    }

    .styles-input-popup, .styles-textarea-popup {
      width: 100%;
      box-sizing: border-box;
      padding:0 15px;
      background: none;
      border: 1px solid $grey-two;
      border-radius: 4px;
      height: 38px;
      outline: none;
    }
    .styles-textarea-popup {
      height: 80px;
    }
  }
}
//END POPUP