#header {
  padding-top: 25px;
  @include xs(padding-top, 0);
  .logo img {
    width: 100%;
    max-width: 213px;
    height: auto;
    @include xs(width, 80%);
  }
  .location {
    max-width: 310px;
    p {
      font-weight: 300;
      font-size: 14px;
      line-height: 30px;
    }
  }
  .mobile-menu-toggle {
    //width: 40px;
    //height: 40px;
    box-sizing: border-box;
    z-index: 200;
    //HAMBURGER BUTTON
    .ham {
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      transition: transform 400ms;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .hamRotate.active {
      transform: rotate(45deg);
    }
    .hamRotate180.active {
      transform: rotate(180deg);
    }
    .line {
      fill: none;
      transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
      stroke: $black;
      stroke-width: 8;
      stroke-linecap: round;
    }
    .ham-burger {
      .top {
        stroke-dasharray: 40 160;
      }
      .middle {
        stroke-dasharray: 40 142;
        transform-origin: 50%;
        transition: transform 400ms;
      }
      .bottom {
        stroke-dasharray: 40 85;
        transform-origin: 50%;
        transition: transform 400ms, stroke-dashoffset 400ms;
      }
      &.active {
        .top {
          stroke-dashoffset: -64px;
        }
        .middle {
          transform: rotate(90deg);
        }
        .bottom {
          stroke-dashoffset: -64px;
        }
      }
    }
    //END HAMBURGER BUTTON
  }
  .contacts {
    color: $blue;
    .tel {
      font-size: 23px;
    }
    .mail {
      margin-top: 15px;
      font-size: 16px;
    }
  }
  .block-navigation {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @include md(display, none);
    @include sm-block() {
      padding: 20px;
      background: #f0f0f0;
      border-radius: 16px;
    }
    nav {
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include sm-block() {
          flex-direction: column;
        }
        li {
          margin-right: 65px;
          @include lg(margin-right, 15px);
          @include sm-block() {
            margin-top: 20px;
            margin-right: 0;
          }
          a {
            font-size: 18px;
            color: $black;
          }
        }
      }
    }
    .download-price {
      display: flex;
      align-items: center;
      @include md-block() {
        margin-top: 10px;
      }
      span {
        padding: 5px 15px;
        background: $black;
        border-radius: 4px 0 0 4px;
      }
      p {
        text-transform: uppercase;
        background: $red;
        color: $white;
        padding: 25px 5px;
        border-radius: 0 4px 4px 0;
        box-shadow: 10px 10px 5px 0 rgba(247, 239, 247, 1);
        @include xs(font-size, 14px);
      }
    }
  }
}