#services {
  margin-top: 25px;
  .title {
    font-size: 36px;
    color: $black;
    font-family: 'Proxima Nova Light',sans-serif;
    @include xs(font-size, 30px)
  }
  p {
    margin-top: 15px;
    font-size: 18px;
    @include xs(font-size, 16px);
  }
  .types {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include sm-block() {
      justify-content: space-around;
    }
    .one-type {
      flex-basis: 30%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      min-width: 240px;
      > img {
        width: 100%;
        height: auto;
      }
      .name {
        margin-top: 20px;
        color: $blue-five;
        font-size: 22px;
        text-align: center;
      }
      .description {
        margin-top: 10px;
        font-size: 16px;
        color: $dark;
        text-align: center;
        line-height: 18px;
      }
      .btn-more {
        margin-top: 25px;
        width: 140px;
        height: 48px;
        background: none;
        border: 1px solid $grey-three;
        color: $blue-five;
        border-radius: 4px;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
}